* {
    box-sizing: border-box;
}

.form-container {
     max-width: 420px;
     margin: 0 auto;
}

 input[type=text],input[type=email], select, textarea {
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical;
}
 input[type=submit] {
     background-color: #add8e6;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}
 input[type=submit]:hover {
     background-color: #57b6d6;
}
 .container {
     border-radius: 5px;
     background-color: #f2f2f2;
     padding: 20px;
}

.bubble{
    width: 99%;
    min-height: 6vh;
    flex-wrap: warp;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(228, 228, 228);
    transition: all .7s ease-in;
    border-radius: 35px;
    padding: 10px;
    margin-top: 15px;
    margin-left: 7px;
}

.centered-flex {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}