@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.content{
    width: 80%;
    margin:2rem 10% 0 10%;
    max-width: 100%;
    box-sizing: border-box;
    
}
.box{
    width:80%;
    margin:2rem 10% 0 10%;
    height:100vh;
    background-color:rgb(187, 187, 187);
}

.bubble{
    width: 99%;
    min-height: 6vh;
    flex-wrap: warp;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(228, 228, 228);
    transition: all .7s ease-in;
    border-radius: 35px;
    padding: 10px;
    margin-top: 15px;
}

.link {
    text-decoration:none;
    font-family: 'Merriweather Sans', sans-serif;

    color: rgb(58, 58, 58); 
    padding-right: 20px;
    font-size: large;
}

.bold {
    font-family: 'Righteous', cursive;

}

.link:hover {
    text-decoration: underline;
    color: rgb(58, 58, 58); 
    padding-right: 20px;
    font-size: large;
}

.favicon {
    max-width: 64px;
    max-height: 64px;
}

.fixed-size {
    width: 400px;
}

.centered-flex {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sub-image {
    max-width: 400px;
    padding: 25px;
}

@media (max-width: 768px) {
    .sub-image {
        max-width: 300px;
    }
}

@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}