.slider {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slider-container{
    flex: auto;
    justify-content: center;
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;

}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 100%;
    height: 500px;
}

.navigation-manual {
    position: absolute;
    width: 75%;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-button {
    border: 2px solid lightblue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-button:not(:last-child){
    margin-right: 40px;
}

.manual-button:hover{
    background:lightblue;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;

}
#radio3:checked ~ .first{
    margin-left: -40%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 75%;
    justify-content: center;
    margin-top: 460px;

}

.navigation-auto div{
    border: 2px solid  lightblue;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~.navigation-auto .auto-button1{
    background:  lightblue;
}

#radio2:checked ~.navigation-auto .auto-button2{
    background:  lightblue;
}
#radio3:checked ~.navigation-auto .auto-button3{
    background:  lightblue;
}
